[Desktop Entry]
Name=Colorful


X-KDE-PluginInfo-Author=IsoaSFlus
X-KDE-PluginInfo-Email=me@isoasflus.me
X-KDE-PluginInfo-Name=Colorful
X-KDE-PluginInfo-Version=5.30
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0


[ContrastEffect]
enabled=true
contrast=0.4
#intensity is disabled, in order to auto adjust to the chosen theme color
# intensity=2.0
saturation=1.7
